body {
	color: #1C1C1C;
	line-height: 1.5em;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size: 14px;
	background-color: white;
	background-position: fixed;
	margin: 0px;
}

.page {
	max-width: 1300px;
	margin: 0px auto 0px auto;
	top: 0px;
	position: relative;
	background-color: white;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 5em;
	line-height: 1.5em;
	font-weight: ;
	color: white;
	text-shadow: 0 0 5px black;
	margin: ;
}
h2 {
	font-size: ;
	font-weight: ;
	color: ;
	margin: ;
	}
h3 {
	font-size: ;
	font-weight: ;
	color: ;
	margin: ;
}
p {
	font-size: ;
	font-weight: ;
	color: ;
	margin: ;
	text-align: center;
	word-spacing: ;
}
a {
	font-size: ;
	font-weight: ;
	color: ;
	margin: ;
	text-decoration: none;
}

button {
	color: #1C1C1C;
	line-height: 50px;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size: 2.5em;
}

.header_nav a {
	line-height: 50px;
	font-size: 2.5em;
	font-weight: ;
	color: #1C1C1C;
	padding: ;
	margin: ;
	text-decoration: none;
}
.header_nav a:hover {
	color: gray;
}

footer {
	font-size: 0.8em;
	color: gray;
	background-color: black;
	padding: 10px 10px 10px 10px;
	word-spacing: ;
	letter-spacing: ;
}